<html ng-app="Unicorn">

<head>
    <title>Client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../angular.js"></script>
    <script src="../angular-ui-router.min.js"></script>
    <script src="../bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
</head>

<body ng-controller="ClientCtrl as cli">
    <div class="jumbotron">
        <blockquote class="blockquote-reverse">
            <p>CARPE NOCTEM!</p>
            <footer>
                <cite title="Source Title">By Romans, it is how i did this project</cite>
            </footer>
        </blockquote>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <button ng-click="cli.logOut()" class="btn btn-info">Logout</button>
                <h3>Coupons available for now. Click on a coupon to buy it</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Image Icon:</th>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Start Date:</th>
                            <th>End Date:</th>
                            <th>Message</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Amount Available</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="c in cli.AvailableCoupons">
                        <tr ng-click="cli.selectIt($index); cli.toggleBuy()">
                            <td>
                                <img ng-src="{{c.image}}" style="width:60px">
                            </td>
                            <td>{{c.id}}</td>
                            <td>{{c.title}}</td>
                            <td>{{c.startDate}}</td>
                            <td>{{c.endDate}}</td>
                            <td>{{c.message}}</td>
                            <td>{{c.type}}</td>
                            <td>{{c.price}}</td>
                            <td>{{c.amount}}</td>
                            <td>
                                <button ng-click="cli.buy()" ng-show="cli.buyMode">Buy this coupon!</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <div>
                    <div class="alert alert-success" ng-if="cli.purchSucc"> {{cli.purchSucc}} </div>
                    <div class="alert alert-danger" ng-if="cli.noPurch">{{cli.noPurch}}</div>
                    <h3>Purchased coupons:</h3>
                    <button ng-click="sortBy(null)">Set to unsorted</button>
                    <button ng-click="sortBy('price')">Sort by Price</button>
                    <button ng-click="sortBy('type')">Sort by Type</button>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Image Icon:</th>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Start Date:</th>
                                <th>End Date:</th>
                                <th>Message</th>
                                <th>Type</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in coupons">
                                <td>
                                    <img ng-src="{{c.image}}" style="width:60px">
                                </td>
                                <td>{{c.id}}</td>
                                <td>{{c.title}}</td>
                                <td>{{c.startDate}}</td>
                                <td>{{c.endDate}}</td>
                                <td>{{c.message}}</td>
                                <td>{{c.type}}</td>
                                <td>{{c.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="ClientCtrl.js"></script>
    <script src="ClientSrvc.js"></script>
    <script src="../logoutSrvc.js"></script>
</body>

</html>